<h1>Carrito con ID {{cartFound._id}}</h1>

{{#each cartFound.products}}
<ul>
    <li>Titulo: {{product.title}}</li>
    <li>Description: {{product.description}}</li>
    <li>Price: {{product.price}}</li>
    <li>Code: {{product.code}}</li>
    <li>stock: {{product.stock}}</li>
    <li>category: {{product.category}}</li>
    <li>Thumbnails: {{product.thumbnails}}</li>
    <li>{{quantity}}</li>
</ul>
<br>
{{/each}}