<h1>Producto</h1>
<ul>
    <li>Titulo: {{producto.title}}</li>
    <li>Description: {{producto.description}}</li>
    <li>Price: {{producto.price}}</li>
    <li>Code: {{producto.code}}</li>
    <li>stock: {{producto.stock}}</li>
    <li>category: {{producto.category}}</li>
    <li>Thumbnails: {{producto.thumbnails}}</li>
</ul>