<h1>Productos</h1>
<ul>
    {{#each productos}}
    <li>Titulo: {{title}}</li>
    <li>Description: {{description}}</li>
    <li>Price: {{price}}</li>
    <li>Code: {{code}}</li>
    <li>stock: {{stock}}</li>
    <li>category: {{category}}</li>
    <li>Thumbnails: {{thumbnails}}</li>
    {{/each}}
</ul>